{% extends "bases/base_sort.html" %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/sort_algos/gnomesort.js') }}" defer></script>
{% endblock %}

{% block title %}
Gnome Sort
{% endblock %}

{% block info %}
<p data-aos="fade-right">
<a href="https://en.wikipedia.org/wiki/Gnome_sort">Gnome sort</a>, nicknamed stupid sort, is a variation 
of the insertion sort sorting algorithm that does not use nested loops<br><br>Gnome Sort is based on the 
technique used by the standard Dutch Garden Gnome, works by building a sorted list one element at a time, 
getting each item to the proper place in a series of swaps
</p>
{% endblock %}

{% block time %}
O(n<sup>2</sup>)
{% endblock %}

{% block space %}
O(1)
{% endblock %}